.firstInput input{
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.367);
    height: 40px;
    color: white;
    background: black;
    width: 100%;
}

.firstInput{
    position: relative;
    width: 100%;
}

.firstInput label{
    color: white;
    position: absolute;
    text-align: start;
    left: 0;
    bottom: 5px;
    transition: 300ms;
    font-weight: bold;
}
.firstInput .inputBase:focus ~ label,
.firstInput .inputBase:valid ~ label{
    bottom: 40px;
    left: 0;
    font-weight: 400;
}