.abierto{
    height: 180px !important;
    transition: all 300ms ease-in;
    padding-top: 80px;
    opacity: 1 !important;
    display: flex;
    align-items: end;
}

.cerrado{
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: -1;
    
    transition: all 300ms ease-in;
}